<div id="banner">
  <%= image_tag "delicatessen.jpg" %>
</div>

<div id="description" class="padded text-center">
  <h1 class="text-uppercase">Delicatasting (coming soon)</h1>
  </p>
    Amis gourmets, retrouvez ici le meilleur des épiceries parisiennes
  <p>
</div>

<div id="contact" class="text-center padded">
  <h2>Inscrivez-vous pour être tenus au courant</h2>
  <p>De nos prochaines découvertes culinaires</p>
  <form action="/" class="form-inline">
    <input type="email" class="form-control" placeholder="joelrobuchon@gmail.com">
    <input type="submit" value="Go" class="btn btn-medium">
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 padded" id="article">
      <h3>Cooperativa Latte Cisternino</h3>
      <p>Une délicieuse coopérative italienne</p>
      <%= image_tag "cisternino.jpg" %>
    </div>
    <div class="col-xs-12 col-md-4 padded" id="article">
      <h3>Epicerie Le Caire</h3>
      <p>La caverne d'Ali Baba</p>
      <%= image_tag "images/caire.jpg" %>
    </div>
    <div class="col-xs-12 col-md-4 padded" id="article">
      <h3>Julhès</h3>
      <p>Un classique incontournable</p>
      <%= image_tag "images/julhes.jpg" %>
    </div>
  </div>
</div>
